.main {
  background: #f1f1f1;
}
.main .secsall {
  overflow: hidden;
}
.main .secsall .titlebox {
  height: 58px;
  position: relative;
}
.main .secsall .titlebox h2 {
  font-size: 25px;
  line-height: 58px;
}
.main .secsall .titlebox span {
  position: absolute;
  right: 0px;
  bottom: 3px;
}
.main .secsall .titlebox span i {
  display: inline-block;
  height: 20px;
  width: 40px;
  border: 1px solid #666666;
  text-align: center;
  line-height: 20px;
  color: #666666;
  font-weight: 900;
}
.main .secsall .timer {
  width: 234px;
  height: 300px;
  border-top: 1px solid red;
  background: #dddddd;
  text-align: center;
  float: left;
}
.main .secsall .timer p:nth-child(1) {
  color: red;
  font-size: 20px;
  line-height: 70px;
  padding-top: 30px;
}
.main .secsall .timer p:nth-child(3) {
  color: #666666;
  line-height: 70px;
}
.main .secsall .timer span {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: #444444;
  color: #ffffff;
  text-align: center;
  line-height: 46px;
  font-size: 25px;
}
.main .secsall .sallboxs {
  float: left;
  overflow: hidden;
  width: 992px;
  height: 300px;
}
.main .secsall .sallboxs ul {
  overflow: hidden;
  width: 3000px;
}
.main .secsall .sallboxs ul li {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
  text-align: center;
  box-shadow: 3px 3px 3px #cccccc;
  background: #ffffff;
}
.main .secsall .sallboxs ul li .sallbox {
  width: 160px;
  height: 165px;
  margin: 10px auto;
}
.main .secsall .sallboxs ul li .sallbox img {
  width: 100%;
  height: 100%;
}
.main .secsall .sallboxs ul li p:nth-child(2) {
  color: #111111;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.main .secsall .sallboxs ul li p:nth-child(3) {
  color: #888888;
  font-size: 13px;
  text-align: center;
  line-height: 22px;
}
.main .secsall .sallboxs ul li span {
  font-size: 16px;
  color: #ff6700;
  line-height: 50px;
}
.main .secsall .sallboxs ul li del {
  color: #aaaaaa;
}
.main .secsall .sallboxs ul li:nth-child(1) {
  border-top: 1px solid yellow;
}
.main .secsall .sallboxs ul li:nth-child(2) {
  border-top: 1px solid green;
}
.main .secsall .sallboxs ul li:nth-child(3) {
  border-top: 1px solid blue;
}
.main .secsall .sallboxs ul li:nth-child(4) {
  border-top: 1px solid orangered;
}
.main .secsall .sallboxs ul li:nth-child(5) {
  border-top: 1px solid pink;
}
.main .phone .titlebox {
  height: 58px;
  position: relative;
}
.main .phone .titlebox h2 {
  font-size: 25px;
  line-height: 58px;
}
.main .phone .titlebox span {
  position: absolute;
  right: 0px;
  bottom: 3px;
  font-size: 20px;
  transition: all 0.8s;
}
.main .phone .titlebox span i {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #888888;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  color: #ffffff;
  font-weight: 900;
  transition: all 0.8s;
}
.main .phone .titlebox span:hover {
  color: #ff6700;
}
.main .phone .titlebox span:hover i {
  background: #ff6700;
}
.main .phone ul {
  overflow: hidden;
  height: 614px;
}
.main .phone ul li {
  float: left;
  width: 234px;
  height: 300px;
  background: #ffffff;
  margin-left: 14px;
  margin-bottom: 15px;
}
.main .phone ul li a {
  text-align: center;
}
.main .phone ul li a p:nth-child(2) {
  color: #222222;
}
.main .phone ul li a p:nth-child(3) {
  color: #aaaaaa;
  font-size: 14px;
  line-height: 35px;
}
.main .phone ul li a span {
  color: #ff6700;
  line-height: 50px;
}
.main .phone ul li img {
  display: block;
  margin: 10px auto;
}
.main .phone ul #phonemain {
  height: 614px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}
.main .phone ul #phonemain img {
  margin: 0px;
}
.main .jiadian {
  overflow: hidden;
}
.main .jiadian .titlebox {
  height: 58px;
  position: relative;
}
.main .jiadian .titlebox h2 {
  font-size: 25px;
  line-height: 58px;
}
.main .jiadian .titlebox .a-box {
  position: absolute;
  right: 0;
  top: 40%;
  overflow: hidden;
}
.main .jiadian .titlebox .a-box a {
  float: left;
  margin-left: 40px;
  font-size: 20px;
  color: #222222;
}
.main .jiadian .titlebox .a-box a:nth-child(1) {
  text-decoration: underline;
  color: #ff6700;
}
